<!DOCTYPE html> 
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <title>Display</title> 
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script> 
    <script defer src="{{ url_for('static', filename='js/display.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}"> 

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div id="display"></div>

    <script>
        if ("serviceWorker" in navigator) {

            navigator.serviceWorker.register(
                "{{ url_for('static', filename='service-worker.js') }}"
            );

        }
    </script>

</body> 

</html> 